<?xml version="1.0" encoding="UTF-8"?>
<phpunit xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:noNamespaceSchemaLocation="./vendor/phpunit/phpunit/phpunit.xsd"
         bootstrap="vendor/autoload.php"
         colors="true"
>
    <testsuites>
        <testsuite name="Unit">
            <directory suffix="Test.php">./tests/Unit</directory>
        </testsuite>
        <testsuite name="Feature">
            <directory suffix="Test.php">./tests/Feature</directory>
        </testsuite>
    </testsuites>
    <coverage processUncoveredFiles="true">
        <include>
            <directory suffix=".php">./app</directory>
        </include>
        <exclude>
            <file>./app/Http/Middleware/TrustHosts.php</file>
        </exclude>
    </coverage>
    <php>
        <server name="APP_ENV" value="testing"/>
        <server name="APP_KEY" value="base64:YDLaFvN8fTX8yOAnYcw4OJWFyLq4R9yBZqNdEldw6Wk="/>
        <server name="APP_DEBUG" value="true"/>
        <server name="APP_URL" value="https://sc.ddev.site"/>
        <server name="BCRYPT_ROUNDS" value="4"/>
        <server name="CACHE_DRIVER" value="array"/>
        <!--<server name="DB_CONNECTION" value="sqlite"/>-->
        <!--<server name="DB_DATABASE" value=":memory:"/>-->
        <server name="MAIL_MAILER" value="array"/>
        <server name="QUEUE_CONNECTION" value="sync"/>
        <server name="SESSION_DRIVER" value="array"/>
        <server name="TELESCOPE_ENABLED" value="false"/>
        <server name="KUB8_WEBHOOK_CLIENT_SECRET" value="somtest"/>
        <server name="KUB8_API" value="https://kub8.steercampaign.com/v1/"/>
        <server name="KUB8_API_KEY" value="somekey"/>
    </php>
</phpunit>
